<!DOCTYPE html>
<html lang="id">
<head>
<meta charset="UTF-8">
<title>Laporan Shift</title>

<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/sidebar.css">
<link rel="stylesheet" href="/css/topbar.css">
<link rel="stylesheet" href="/css/laporanShiftRMFM5.css">
</head>
<body>

<%- include('partials/sidebar') %>

<div class="main">
  <%- include('partials/topbar', { title }) %>

  <div class="content">
    <div class="form-card">

      <div class="form-grid top-info">


  <div class="form-group">
    <label>Tanggal</label>
    <input type="date" id="tanggal">
  </div>

  <div class="form-group">
    <label>Shift</label>
    <select id="shiftUtama">
      <option value="">-- Pilih Shift --</option>
    </select>
  </div>

  <div class="form-group">
    <label>No. Ref</label>
    <input type="text" id="noref" readonly>
  </div>

  <div class="form-group">
    <label>Dibuat Oleh</label>
    <input type="text" value="zhanshielinsone@gmail.com" readonly>
  </div>

</div>

<!-- LOOP POS -->
<% ['851','852A','852B','853A','853B'].forEach(p => { %>

  <label>Personil (<%= p %>)</label>
  <select class="personil">
    <option value="">-- Pilih Personil --</option>
  </select>

  <label>Shift (<%= p %>)</label>
  <select class="shift">
    <option value="">-- Pilih Shift --</option>
  </select>

<% }) %>



<label>Personil (Cuti)</label>
<div class="cuti-box" id="cutiBox"></div>

<input type="hidden" id="cutiResult" name="cuti">



            <div class="btn-wrapper">
        <div class="btn">
            <button class="back" type="button">Back</button>
            <button class="clear" type="button">Clear</button>
            <button class="save" type="submit">Save</button>
        
        </div>
      </div>


    </div>
  </div>
</div>

<script src="/js/sidebar.js"></script>
<script src="/js/formShiftRMFM5.js"></script>

<script>
  const menuToggle = document.getElementById('menuToggle');
  const sidebar = document.querySelector('.sidebar');

  menuToggle.addEventListener('click', () => {
    sidebar.classList.toggle('closed');
  });
</script>


</body>
</html>
