.container {
  display: flex;
  height: 100vh;
}
/* BAGIAN KIRI */
.left {
  flex: 1;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;   /* tengah vertikal */
  align-items: center;       /* tengah horizontal */
  text-align: center;
}

.left h2 {
  font-weight: normal;
}

.left img {
  width: 250px;
  margin: 30px 0;
}

.since {
  font-style: italic;
  font-size: 24px;
}

/* BAGIAN KANAN */
.right {
  flex: 1;
  background: #8b0000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;   /* tengah vertikal */
  padding: 0 80px;
}

.right h1 {
  margin-bottom: 40px;
  text-align: center;
}

.right label {
  display: block;
  margin-bottom: 8px;
}

.right input {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  margin-bottom: 20px;
}

.forgot {
  display: block;
  text-align: right;
  color: white;
  text-decoration: none;
  margin-bottom: 30px;
}

.right button {
  display: block;
  margin: 0 auto;   /* ini yang bikin ke tengah */
  padding: 12px 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}


.password-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.password-wrapper input {
  width: 100%;
  padding: 14px;
  padding-right: 40px;
  border-radius: 12px;
  border: none;
  margin-bottom: 0;   /* hapus margin di input */
}


.eye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: maroon;
  line-height: 1;
}

