/* ===== FORM CARD ===== */
.form-card{
  max-width: 900px;          
  margin: 50px auto;         
  background: #fff;
  padding: 36px;             
  border-radius: 16px;       
  animation: fadeIn .4s ease;
  box-shadow: 0 6px 20px rgba(0,0,0,.12);
  box-sizing: border-box;
}


@keyframes fadeIn{
  from{opacity:0;transform:translateY(10px)}
  to{opacity:1;transform:none}
}

/* ===== FORM GROUP ===== */
.form-group{
  margin-bottom:18px;
  display:flex;
  flex-direction:column;
}

label{
  font-size:14px;
  font-weight:600;
  margin-bottom:6px;
}

/* ===== INPUT, SELECT, TEXTAREA ===== */
input, select, textarea{
  width:100%;
  padding:12px 14px;
  border-radius:12px;
  border:1px solid #ccc;
  font-size:14px;
  transition: all 0.25s ease;
  box-sizing:border-box;
}

input:focus, select:focus, textarea:focus{
  border-color:#8b0000;
  box-shadow:0 0 0 2px rgba(139,0,0,.1);
  outline:none;
}

textarea{
  resize:none;
}

/* ================= BUTTON ================= */
.btn {
  margin-top: 22px;
  width: 100%;                
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  box-sizing: border-box;
}

/* tombol FORM saja */
.form-card .btn button {
  min-width: 90px;
  height: 38px;
  padding: 0 18px;
  border-radius: 9px;
  font-size: 13.5px;
  cursor: pointer;
}


.save {
  background-color: #8b0000;
  color: #fff;

  border: none;
  outline: none;

  padding: 10px 22px;
  border-radius: 8px;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;

  box-shadow: 0 4px 10px rgba(139, 0, 0, 0.35);
  transition: all 0.25s ease;
}

/* hover */
.save:hover {
  background-color: #a00000;
  box-shadow: 0 6px 14px rgba(139, 0, 0, 0.45);
  transform: translateY(-1px);
}

/* klik */
.save:active {
  transform: scale(0.97);
}

/* ilangin kotak/item aneh pas fokus */
.save:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(139, 0, 0, 0.3);
}



.clear, .back {
  background-color: #fff;
  color: #8b0000;

  border: 1.5px solid #8b0000;
  border-radius: 8px;

  padding: 10px 22px;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;
  transition: all 0.25s ease;
}

/* hover: soft, beda dari save */

.clear:hover, .back:hover {
  background-color: rgba(139, 0, 0, 0.08);
  box-shadow: 0 3px 8px rgba(139, 0, 0, 0.2);
}

/* klik */

.clear:active, .back:active {
  transform: scale(0.97);
}

/* fokus rapi */
.clear:focus, .back:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(139, 0, 0, 0.2);
}

/* ===== RESPONSIVE ===== */
@media(max-width:768px){
  .form-card{
    padding:18px;
  }
  button{
    width:100%; /* tombol full-width di mobile */
  }
  .btn{
    flex-direction: column;
    gap:10px;
  }
}




/* ================= SIDEBAR ================= */
.main {
  margin-left: 260px;
  transition: margin-left 0.35s ease;
}

.main.expanded {
  margin-left: 0;
}

.sidebar {
  transition: transform 0.35s ease;
}

.sidebar.closed {
  transform: translateX(-100%);
}

/* mobile */
@media(max-width:768px){
  .form-card{
    padding:18px;
  }
}
